/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 #woo_fattureincloud header {
    display: block;
    background: url(../image/woo_fattureincloud.png) no-repeat #FFFFFF;
    background-position: 20px center;
    padding: 60px;
}

.product-display img{

	width: 100px;
	height: 100px;
}